body {
  font-family: $font-main;
  //   background-color: $brand-main-color;
  color: $text-dark-color;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
textarea {
  resize: none;
}
/* сброс настроек списка */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* сброс настроек ссылок */
.link {
  text-decoration: none;
  color: currentColor;
}
