/* === VARIABLES === */
$font-main: 'Montserrat', sans-serif;
$font-title: 'Seymour One', sans-serif;

$text-dark-color: #131313;
$text-light-color: #fcfcfc;
$text-address-color: #d6936d;

$brand-main-color: #84a178;
$brand-second-color: #f8d24e;

$focus-color: #0a8817;
$disabled-color: #ababab;

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// modal
$bg-text-color: rgba(248, 210, 78, 0.1);

// products
$card-first-color: #aec6a5;
$card-second-color: #efd478;
$card-third-color: #d6936d;

// footer
$border-color: #e1e1e1;
$contacts-color: #ffffff;
$rights-color: #7a7a7a;

//img decoration
$img-decoration: rgba(248, 210, 78, 0.7);

//background
$back-round-decoration: #d9d9d9;

//box-shadow
$back-round-img-shadow: rgba(153, 114, 23, 0.25);
