<section class="about section">
  <div class="container">
    <label id="about__label" class="about__label">tradition and love</label>
    <h2 class="about__title">how it’s made?</h2>

    <span class="about__decor"></span>
    <img class="about__photo" alt="img cow" />

    <ul class="about__list list">
      <li class="about__item">
        <p class="about__descrip">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </p>
      </li>
      <li class="about__item">
        <p class="about__descrip">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>
      </li>
    </ul>

    <button class="about__button" type="button">Read more</button>
  </div>
</section>
