<section class="contact" id="contacts">
  <!-- class="visually-hidden" -->
  <div class="container contact__container">
    <h2 class="visually-hidden">Contacts</h2>
    <!-- Chicago -->
    <div class="contacts-box">
      <ul class="contacts__list">
        <li class="contact__item">
          <address class="contact__addres">
            <p class="contact__title">CAFE</p>
            <p class="contact__text">Chicago</p>
            <a
              class="contact__link contact__link--other-style"
              href="https://goo.gl/maps/XEkHzuwqpBkHYBxQ7"
              >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
            >
          </address>
        </li>
        <ul class="schedule">
          <li class="schedules__item">
            <p class="schedule__text">Monday - Friday</p>
            <p class="schedule__text schedule__text--other-color">
              06:00 AM - 10:00 PM
            </p>
            <p class="schedule__text">Saturday - Sunday</p>
            <p class="schedule__text schedule__text--other-color">
              08:00 AM - 16:00 PM
            </p>
          </li>
        </ul>
        <li class="contact__item">
          <a class="contact__link" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contact__link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </li>
      </ul>
    </div>
    <!-- Los Angeles -->
    <div class="contacts-box">
      <ul class="contacts__list">
        <li class="contact__item">
          <address class="contact__addres">
            <p class="contact__title">FOODTRUCK</p>
            <p class="contact__text">Los Angeles</p>
            <a
              class="contact__link contact__link--other-style"
              href="https://goo.gl/maps/y6bYUwyFC1frdMBcA"
              >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
            >
          </address>
        </li>
        <ul class="schedule">
          <li class="schedules__item">
            <p class="schedule__text">Monday - Friday</p>
            <p class="schedule__text schedule__text--other-color">
              06:00 AM - 10:00 PM
            </p>
            <p class="schedule__text">Saturday - Sunday</p>
            <p class="schedule__text schedule__text--other-color">
              08:00 AM - 16:00 PM
            </p>
          </li>
        </ul>
        <li class="contact__item">
          <a class="contact__link" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contact__link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </li>
      </ul>
    </div>
    <!-- New York -->
    <div class="contacts-box">
      <ul class="contacts__list">
        <li class="contact__item">
          <address class="contact__addres">
            <p class="contact__title">CAFE</p>
            <p class="contact__text">New York</p>
            <a
              class="contact__link contact__link--other-style"
              href="https://goo.gl/maps/VAFsikcC1pRHUiYRA"
              >726 Sterling Pl, Brooklyn, NY 11222, USA</a
            >
          </address>
        </li>
        <ul class="schedule">
          <li class="schedules__item">
            <p class="schedule__text">Monday - Friday</p>
            <p class="schedule__text schedule__text--other-color">
              06:00 AM - 10:00 PM
            </p>
            <p class="schedule__text">Saturday - Sunday</p>
            <p class="schedule__text schedule__text--other-color">
              08:00 AM - 16:00 PM
            </p>
          </li>
        </ul>
        <li class="contact__item">
          <a class="contact__link" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contact__link" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </li>
      </ul>
    </div>
    <ul class="contact__btn-set">
      <li class="contact__btn-item">
        <button class="" type="button">Our Locations</button>
      </li>
      <li class="contact__btn-item">
        <button class="" type="button">Franchise</button>
      </li>
    </ul>
  </div>
</section>
