<section class="contacts" id="contacts">
  <div class="container contacts__container">
    <h2 class="visually-hidden">Contacts</h2>

    <ul class="contacts__list">
      <li class="contacts__item">
        <address class="contact__address">
          <p class="contact__title">CAFE</p>
          <p class="contact__text">Chicago</p>
          <a
            class="contact__link contact__link--other-style"
            href="https://goo.gl/maps/XEkHzuwqpBkHYBxQ7"
            target="_blank"
            rel="noopener noreferrer"
          >
            10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
          </a>
          <ul class="schedule">
            <li class="schedules__item">
              <p class="schedule__text">Monday - Friday</p>
              <p class="schedule__text schedule__text--other-color">
                06:00 AM - 10:00 PM
              </p>
            </li>
            <li class="schedules__item">
              <p class="schedule__text">Saturday - Sunday</p>
              <p class="schedule__text schedule__text--other-color">
                08:00 AM - 16:00 PM
              </p>
            </li>
          </ul>
          <ul class="contact__meta">
            <li>
              <a class="contact__link" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a class="contact__link" href="maito:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
      <li class="contacts__item">
        <address class="contact__address">
          <p class="contact__title">FOODTRUCK</p>
          <p class="contact__text">Los Angeles</p>
          <a
            class="contact__link contact__link--other-style"
            href="https://goo.gl/maps/y6bYUwyFC1frdMBcA"
            target="_blank"
            rel="noopener noreferrer"
          >
            1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
          </a>
          <ul class="schedule">
            <li class="schedules__item">
              <p class="schedule__text">Monday - Friday</p>
              <p class="schedule__text schedule__text--other-color">
                06:00 AM - 10:00 PM
              </p>
            </li>
            <li class="schedules__item">
              <p class="schedule__text">Saturday - Sunday</p>
              <p class="schedule__text schedule__text--other-color">
                08:00 AM - 16:00 PM
              </p>
            </li>
          </ul>
          <ul class="contact__meta">
            <li>
              <a class="contact__link" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a class="contact__link" href="maito:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
      <li class="contacts__item">
        <address class="contact__address">
          <p class="contact__title">CAFE</p>
          <p class="contact__text">New York</p>
          <a
            class="contact__link contact__link--other-style"
            href="https://goo.gl/maps/VAFsikcC1pRHUiYRA"
            target="_blank"
            rel="noopener noreferrer"
            >726 Sterling Pl, Brooklyn, NY 11222, USA
          </a>
          <ul class="schedule">
            <li class="schedules__item">
              <p class="schedule__text">Monday - Friday</p>
              <p class="schedule__text schedule__text--other-color">
                06:00 AM - 10:00 PM
              </p>
            </li>
            <li class="schedules__item">
              <p class="schedule__text">Saturday - Sunday</p>
              <p class="schedule__text schedule__text--other-color">
                08:00 AM - 16:00 PM
              </p>
            </li>
          </ul>
          <ul class="contact__meta">
            <li>
              <a class="contact__link" href="tel:+61(0)383766284"
                >+61(0) 383 766 284</a
              >
            </li>
            <li>
              <a class="contact__link" href="maito:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </address>
      </li>
    </ul>
    <ul class="contact__button-set">
      <li class="contact__button-item">
        <button
          class="btn btn-our-location btn--use btn--arrow js-open-modal"
          data-modal="4"
          type="button"
        >
          Our Locations<svg width="12px" height="12px">
            <use href="./images/icons/icons.svg#arrow"></use>
          </svg>
        </button>
      </li>
      <li class="contact__button-item">
        <button
          class="btn btn-Franchise btn--use btn--slim btn--arrow js-open-modal"
          data-modal="5"
        >
          Franchise<svg width="12px" height="12px">
            <use href="./images/icons/icons.svg#arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
