<section class="gallery">
        <div class="gallery__box container">
                <picture class="gallery__main-image">

                        <!-- desktop screen -->
                        <source media="(min-width: 1200px)" srcset="
                        ./images/gallery/desktop/gallery-lg@1x_result.webp 1x, 
                        ./images/gallery/desktop/gallery-lg@2x_result.webp 2x" type="image/webp">
                        <source media="(min-width: 1200px)" srcset="
                        ./images/gallery/desktop/gallery-lg@1x_result.jpg 1x,
                        ./images/gallery/desktop/gallery-lg@2x_result.jpg 2x" type="image/jpg">

                        <!-- tablet screen -->
                        <source media="(min-width: 768px)" srcset="
                        ./images/gallery/tablet/gallery-md@1x_result.webp 1x, 
                        ./images/gallery/tablet/gallery-md@2x_result.webp 2x" type="image/webp">
                        <source media="(min-width: 768px)" srcset="
                        ./images/gallery/tablet/gallery-md@1x_result.jpg 1x,
                        ./images/gallery/tablet/gallery-md@2x_result.jpg 2x" type="image/jpg">

                        <!-- mobile screen -->
                        <source media="(max-width: 767px)" srcset="
                        ./images/gallery/mobile/gallery-sm@1x_result.webp 1x, 
                        ./images/gallery/mobile/gallery-sm@2x_result.webp 2x" type="image/webp">
                        <source media="(max-width: 767px)" srcset="
                        ./images/gallery/mobile/gallery-sm@1x_result.jpg 1x,
                        ./images/gallery/mobile/gallery-sm@2x_result.jpg 2x" type="image/jpg">
                        <img src="./images/gallery/mobile/gallery-sm@1x_result.jpg" alt="Ice-cream" width="279"
                                height="130">
                </picture>
        </div>
</section>