<header class="header-container">
  <div class="container header">
    <nav class="header__nav">
      <img
        class="header__logo__img"
        src="./images/logo/Logo-min.png"
        alt="Ice Cream logo"
      />
      <ul class="header__nav__list list">
        <li class="header__nav__item">
          <a
            class="header__nav__link header__nav__link--focused link"
            href=""
            target="_self"
            rel="noopener noreferrer"
            >Home</a
          >
        </li>
        <li class="header__nav__item">
          <a
            class="header__nav__link header__nav__link--focused link"
            href=""
            target="_self"
            rel="noopener noreferrer"
            >How its made?</a
          >
        </li>
        <li class="header__nav__item">
          <a
            class="header__nav__link header__nav__link--focused link"
            href=""
            target="_self"
            rel="noopener noreferrer"
            >Our products</a
          >
        </li>
        <li class="header__nav__item">
          <a
            class="header__nav__link header__nav__link--focused link"
            href=""
            target="_self"
            rel="noopener noreferrer"
            >Contact</a
          >
        </li>
      </ul>
    </nav>

    <!-- <button
      type="button"
      class="menu-btn"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <img class="menu_btn__img" src="../images/header-hero/" alt="" />
    </button> -->

    <button type="button" class="button">Buy now</button>
  </div>
</header>
