<header class="header-container">
  <div class="container header">
    <nav class="header__nav">

      <picture>
        <!-- Desktop -->
        <source media="(min-width: 1200px)" srcset="
                  ./images/logo/Logo-min.png    1x,
                  ./images/logo/Logo-x2-min.png 2x
                " />
        <!-- Tablet -->
        <source media="(min-width: 768px)" srcset="
                  ./images/logo/logo-tablet-min.png    1x,
                  ./images/logo/logo-tablet-x2-min.png 2x
                " />
        <!-- Mobile -->
        <source media="(min-width: 320px)" srcset="
                  ./images/logo/Logo-mobile-min.png    1x,
                  ./images/logo/Logo-mobile-x2-min.png 2x
                " />
        <img class="header__logo__img" src="./images/logo/Logo-min.png" alt="Ice Cream logo" />
      </picture>



      <ul class="header__nav__list list">
        <li class="header__nav__item">
          <a class="header__nav__link header__nav__link--focused link" href="#home" target="_self"
            rel="noopener noreferrer">Home</a>
        </li>
        <li class="header__nav__item">
          <a class="header__nav__link header__nav__link--focused link" href="#howmade" target="_self"
            rel="noopener noreferrer">How its made?</a>
        </li>
        <li class="header__nav__item">
          <a class="header__nav__link header__nav__link--focused link" href="#products" target="_self"
            rel="noopener noreferrer">Our products</a>
        </li>
        <li class="header__nav__item">
          <a class="header__nav__link header__nav__link--focused link" href="#contacts" target="_self"
            rel="noopener noreferrer">Contact</a>
        </li>
      </ul>
    </nav>

    <button type="button" class="menu-btn js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
      <svg class="menu-btn__icon" width="32" height="32">
        <use href="./images/icons/icons.svg#burger-menu"></use>
      </svg>
    </button>

    <button type="button" class="btn btn-Buy-now btn--use js-open-modal" data-modal="1">
      Buy now<svg width="12px" height="12px">
        <use href="./images/icons/icons.svg#arrow"></use>
      </svg>
    </button>
  </div>

  <!-- Mobile menu -->
  <div class="menu-container js-menu-container" id="mobile-menu">
    <picture>
      <!-- Tablet -->
      <source media="(min-width: 768px)" srcset="
          ./images/logo/logo-tablet-min.png    1x,
          ./images/logo/logo-tablet-x2-min.png 2x
        " />
      <!-- Mobile -->
      <source media="(min-width: 320px)" srcset="
          ./images/logo/Logo-mobile-min.png    1x,
          ./images/logo/Logo-mobile-x2-min.png 2x
        " />
      <img class="mobile-menu__img" src="./images/logo/Logo-min.png" alt="Ice Cream logo" />
    </picture>

    <button type="button" class="menu-toggle js-close-menu">
      <svg class="menu-toggle_icon" width="20" height="20">
        <use href="./images/icons/icons.svg#menu-close"></use>
      </svg>
    </button>

    <ul class="mobile-list list">
      <li class="mobile-list__item">
        <a href="#home" class="mobile-list__link link" target="_self" rel="noopener noreferrer">Home</a>
      </li>
      <li class="mobile-list__item">
        <a href="#howmade" class="mobile-list__link link" target="_self" rel="noopener noreferrer">How it’s made?</a>
      </li>
      <li class="mobile-list__item">
        <a href="#products" class="mobile-list__link link" target="_self" rel="noopener noreferrer">Our products</a>
      </li>
      <li class="mobile-list__item">
        <a href="#contacts" class="mobile-list__link link" target="_self" rel="noopener noreferrer">Contact</a>
      </li>
    </ul>

    <div class="mobile__btn">
      <button type="button" class="btn btn-Buy-now btn--use mobile-menu__btn js-open-modal" data-modal="1">
        Buy now<svg width="12px" height="12px">
          <use href="./images/icons/icons.svg#arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</header>

<button onclick="topFunction()" id="myBtn" type="button" class="scroll-top">
  <svg width="55" height="60">
    <use href="./images/icons/icons.svg#arrow_up_circle_icon_183819"></use>
  </svg>
</button>