<header class="header-container">
  <div class="container header">
    <nav class="header__nav">
      <span class="header__logo">
        <svg class="header__logo__icon" widht="" height="">
          <use href=""></use>
        </svg>
      </span>
      <ul class="header__nav__list list">
        <li class="header__nav__item">
          <a
            class="header__nav__link header__nav__link--focused link"
            href=""
            target="_self"
            rel="noopener noreferrer"
            >Home</a
          >
        </li>
        <li class="header__nav__item">
          <a
            class="header__nav__link header__nav__link--focused link"
            href=""
            target="_self"
            rel="noopener noreferrer"
            >How it’s made?</a
          >
        </li>
        <li class="header__nav__item">
          <a
            class="header__nav__link header__nav__link--focused link"
            href=""
            target="_self"
            rel="noopener noreferrer"
            >Our products</a
          >
        </li>
        <li class="header__nav__item">
          <a
            class="header__nav__link header__nav__link--focused link"
            href=""
            target="_self"
            rel="noopener noreferrer"
            >Contact</a
          >
        </li>
      </ul>
    </nav>

    <button type="button">Buy now</button>

    <button
      type="button"
      class="menu-btn"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="menu-btn__icon" width="40" height="40">
        <use href=""></use>
      </svg>
    </button>
  </div>
</header>

<!-- Menu-mobile -->
<div class="menu" id="mobile-menu">
  <span class="menu__logo">
    <svg class="menu__logo__icon" width="48" height="44">
      <use href=""></use>
    </svg>
  </span>
  <button type="button" class="menu__toggle">
    <svg class="menu__toggle__icon" width="40" height="40">
      <use href=""></use>
    </svg>
  </button>

  <ul class="mobile__list list">
    <li class="mobile__list__item">
      <a
        href=""
        class="mobile__list__link link current"
        target="_self"
        rel="noopener noreferrer"
        >Home</a
      >
    </li>
    <li class="mobile__list__item">
      <a
        href=""
        class="mobile__list__link link"
        target="_self"
        rel="noopener noreferrer"
        >How it’s made?</a
      >
    </li>
    <li class="mobile__list__item">
      <a
        href=""
        class="mobile__list__link link"
        target="_self"
        rel="noopener noreferrer"
        >Our products</a
      >
    </li>

    <li class="mobile__list__item">
      <a
        href=""
        class="mobile__list__link link"
        target="_self"
        rel="noopener noreferrer"
        >Contact</a
      >
    </li>
  </ul>
</div>
