<section class="hero" id="home">
  <div class="container">
    <div>
      <h1 class="hero__title animate__animated animate__swing">ice cream made with<br><span
          class="hero__title-span">passion</span></h1>

      <ul class="hero__list">
        <li class="hero__list-item hero__list-item--bordered">
          <a class="hero__link hero__link--bordered" href="#products">Products</a>
        </li>
        <li class="hero__list-item hero__list-item--unbordered">
          <a class="hero__link hero__link--unbordered" href="#about__label">How it’s made?</a>
        </li>
      </ul>

      <div class="hero__minor-box ">
        <picture class="hero__minor-picture animate__backInLeft">
          <source srcset="
              ./images/header-hero/icecreams-desktop.png   225w,
              ./images/header-hero/icecreams-desktop2x.png 450w
            " media="(min-width: 1200px)" sizes="225px" type="image/png" />

          <source srcset="
              ./images/header-hero/icecreams-tablet.png   152w,
              ./images/header-hero/icecreams-tablet2x.png 304w
            " media="(min-width: 768px)" sizes="152px" type="image/png" />

          <img src="./images/header-hero/icecreams-desktop.png" alt="ice-creams" />
        </picture>

        <div class="hero__text-box">
          <p class="hero__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
          </p>

          <a class="hero__arrow-link" href="#about__label">
            <svg class="hero__arrow-default" width="40" height="22">
              <use href="./images/icons/icons.svg#Arrow-default "></use>
            </svg>
            <svg class="hero__Arrow-hover" width="50" height="22">
              <use href="./images/icons/icons.svg#Arrow-hover "></use>
            </svg>
            <svg class="hero__Arrow-focus" width="50" height="22">
              <use href="./images/icons/icons.svg#Arrow-focus "></use>
            </svg>
          </a>
        </div>
      </div>
    </div>

    <div class="hero__store">
      <p class="hero__store-count animate__backInDown">16</p>
      <p class="hero__store-type animate__backInDown">cafes</p>
      <p class="hero__store-count animate__backInDown">23</p>
      <p class="hero__store-type animate__backInDown">food trucks</p>
    </div>

    <div class="hero__major-box animate__animated animate__rubberBand">
      <div class="hero__shadow"></div>
      <picture class="">
        <source srcset="  
            ./images/header-hero/icecream-mobile.png   157w,
            ./images/header-hero/icecream-mobile2x.png 314w
          " media="(max-width: 767px)" sizes="157px" type="image/png" />

        <source srcset="
            ./images/header-hero/icecream-desktop.png   447w,
            ./images/header-hero/icecream-desktop2x.png 894w
          " media="(min-width: 1200px)" sizes="447px" type="image/png" />

        <source srcset="
            ./images/header-hero/icecream-tablet.png   270w,
            ./images/header-hero/icecream-tablet2x.png 540w
          " media="(min-width: 768px)" sizes="270px" type="image/png" />

        <img src="./images/header-hero/icecream-mobile.png" alt="ice-cream" />
      </picture>


      <svg class="hero__smile hero__smile--orange animate__animated animate__heartBeat">
        <use href="./images/icons/icons.svg#orange"></use>
      </svg>

      <svg class="hero__smile hero__smile--green animate__animated animate__heartBeat">
        <use href="./images/icons/icons.svg#green"></use>
      </svg>

      <svg class="hero__smile hero__smile--pink animate__animated animate__heartBeat">
        <use href="./images/icons/icons.svg#pink"></use>
      </svg>
    </div>
  </div>
</section>