<div class="modal modal__map" data-modal="4">
<button class="modal-btn-close js-modal-close" type="button">
    <svg class="modal-svg--sm " width="9" height="9">
        <use href="./images/icons/icons.svg#menu-close">
        </use>
    </svg>
    <svg class="modal-svg--big" width="11" height="11">
        <use href="./images/icons/icons.svg#menu-close"></use>
    </svg>
</button>

    <span class="modal__title">Our Locations</span>

    <div class="map_google">
<div class="map__mob">
<iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82744.7474100805!2d34.48719874584575!3d49.602023320975704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e0!3m2!1sru!2sua!4v1666006656843!5m2!1sru!2sua"
    width="224" height="200" style="border:0; border-radius:10px;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<div class="map__tab">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d82744.71155383743!2d34.557238549999994!3d49.60204445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e0!3m2!1sru!2sua!4v1666007041976!5m2!1sru!2sua"
        width="448" height="260" style="border:0; border-radius:10px;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</div>

<a class="map__link"
    href="https://www.google.com.ua/maps/place/Poltavs%CA%B9ki+Halushky+Na+M.+Biryuzova/@49.6001473,34.516965,14.1z/data=!4m13!1m7!3m6!1s0x40d825e425e6ba6b:0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!3b1!8m2!3d49.588267!4d34.5514169!3m4!1s0x40d8299fb4a4a829:0x9b567516860bbe05!8m2!3d49.5992139!4d34.5125162?hl=ru" target="_blank">
Open map</a>

</div>
<div class="overlay js-overlay-modal"></div>