.overlay {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1100;
  transition: 0.3s all;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1130;

  opacity: 0;
  visibility: hidden;

  width: 100%;

  background-color: $text-light-color;
  border: 2px solid $brand-second-color;
  border-radius: 10px;

  transition: opacity $transition;
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal-btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 16px;

  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;

  @media screen and (min-width: $tablet) {
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
  }
}

.modal-svg--big {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.modal-svg--sm {
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
