.video-modal {
  padding: 28px;

  width: 280px;

  background-color: $text-light-color;
  border: 2px solid $brand-second-color;
  border-radius: 10px;

  transition: opacity $transition;

  @media screen and (min-width: $tablet) {
    width: 568px;
    padding-top: 32px;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 32px;
  }
}

.video-modal__title {
  font-family: $font-title;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: calc(24 / 16);

  text-align: center;

  color: $text-dark-color;
}

.modal-iframe {
  display: block;
  margin-right: auto;
  margin-left: auto;

  border: none;
  border-radius: 10px;
  padding-bottom: 20px;
  width: 224px;
  height: 119px;

  @media screen and (min-width: $tablet) {
    width: 448px;
    height: 205px;
  }
}

.video-modal__txt {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(20 / 14);

  color: $text-dark-color;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: calc(20 / 16);
  }
}
