.contacts {
  background-color: $brand-main-color;

  @media screen and (max-width: 767px) {
    padding-top: 120px;
    padding-bottom: 39px;
  }
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    padding-bottom: 40px;
  }
  @media screen and (min-width: $desctop) {
    padding-bottom: 120px;
  }
}

.contacts__list {
  @media screen and (max-width: 767px) {
    position: relative;

    margin-bottom: 32px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    transform: translateY(-285px);
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 60px;
  }
  @media screen and (min-width: $desctop) {
    gap: 32px;
    margin-bottom: 64px;
    transform: translateY(-94px);
  }
}

.contacts__item {
  max-width: 280px;

  background-color: $text-light-color;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @media screen and (max-width: 767px) {
    padding: 40px 32px;
    margin-left: auto;
    margin-right: auto;

    &:first-child {
      position: absolute;
      top: -451px;
      left: 50%;
      transform: translateX(-50%);
      width: 280px;
    }
    &:nth-child(2) {
      margin-bottom: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    max-height: 528px;
    width: calc((100% - 16px * 2) / 3);
    padding: 40px 24px;
  }

  @media screen and (min-width: $desctop) {
    min-height: 538px;

    max-width: calc((100% - 32px * 2) / 3);
    padding: 40px;
  }

  transition: background-color 500ms linear, transform 500ms ease-in-out 500ms;

  &:hover {
    background-color: $card-first-color;
  }
}

.contact__address {
  min-height: 332px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
}

.contact__title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 16px;

  background-color: $brand-second-color;
  border-radius: 4px;

  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.04em;
  line-height: 1.833;
  color: $text-dark-color;

  @media screen and (max-width: 767px) {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.833;
    height: 16px;
    padding: 0 22px;
    margin-bottom: 20px;
  }

  @media screen and (min-width: $tablet) {
    height: 28px;
    margin-bottom: 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.875;
    padding: 0 13px;
  }
  @media screen and (min-width: $desctop) {
    padding: 0 15px;
  }
}
.contact__text {
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.04em;
  color: $text-dark-color;

  @media screen and (max-width: 767px) {
    margin-bottom: 8px;

    font-size: 12px;
    line-height: 1.83;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-bottom: 12px;

    font-size: 14px;
    line-height: 1.85;
  }

  @media screen and (min-width: $desctop) {
    font-size: 16px;
    line-height: 1.875;

    margin-bottom: 8px;
  }
}

.contact__link {
  display: block;
  font-weight: 500;
  letter-spacing: 0em;

  color: $text-dark-color;

  @media screen and (max-width: 767px) {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0em;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    font-size: 14px;
    line-height: 1.85;
  }

  @media screen and (min-width: $desctop) {
    font-size: 16px;
    line-height: 1.81;
  }
}

.contact__link--other-style {
  display: block;
  position: relative;

  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.04em;

  color: $text-address-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &::after {
    content: ' ';
    position: absolute;
    left: 0;

    border: 1px solid $border-color;
    width: 100%;
  }

  @media screen and (max-width: 767px) {
    font-size: 12px;
    line-height: 1.83;

    margin-bottom: 48px;
    &::after {
      bottom: -24px;
    }
  }
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    font-size: 14px;
    line-height: 1.85;
    margin-bottom: 64px;

    &::after {
      bottom: -32px;
    }
  }
  @media screen and (min-width: $desctop) {
    font-size: 16px;
    line-height: 1.81;
    margin-bottom: 64px;

    &::after {
      bottom: -32px;
    }
  }
}
.schedule {
  position: relative;

  &::after {
    content: ' ';
    position: absolute;
    left: 0;
    border: 1px solid $border-color;
    width: 100%;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 48px;

    &::after {
      bottom: -24px;
    }
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 64px;

    &::after {
      bottom: -32px;
    }
  }
}

.shedules__item {
  &:not(:last-child) {
    margin-bottom: 12px;
  }

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.schedule__text {
  letter-spacing: 0em;
  font-weight: 500;

  @media screen and (max-width: 767px) {
    font-size: 12px;
    line-height: 1.46;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    font-size: 14px;
    line-height: 1.85;
  }

  @media screen and (min-width: $desctop) {
    font-size: 16px;
    line-height: 1.87;
  }

  &--other-color {
    color: #907e82;
    @media screen and (max-width: 767px) {
      font-size: 12px;
    }

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      font-size: 14px;
    }

    @media screen and (min-width: $desctop) {
      font-size: 16px;
      line-height: 1.875;
    }
  }
}

.contact__button-set {
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    margin-top: -278px;
  }

  @media screen and (min-width: $desctop) {
    margin-top: -94px;
  }
}

.contact__button-item {
  text-align: center;

  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}
