.gallery {
  margin-bottom: 80px;

  // Tablet screen
  @media screen and (min-width: $tablet) {
    margin-bottom: 60px;
  }

  // Desktop screen
  @media screen and (min-width: $desctop) {
    margin-bottom: 127px;
  }

  &__main-image {
    margin: 0 auto;
    border-radius: 10px;

    // Tablet screen
    @media screen and (min-width: $tablet) {
      border-radius: 18px;
    }

    // Desktop screen
    @media screen and (min-width: $desctop) {
      border-radius: 25px;
    }
  }

  &__main-image {
    animation: slide-in-elliptic-top-fwd 2000ms
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

    @keyframes slide-in-elliptic-top-fwd {
      0% {
        transform: translateY(-600px) rotateX(-30deg) scale(0);
        transform-origin: 50% 100%;
        opacity: 0;
      }
      100% {
        transform: translateY(0) rotateX(0) scale(1);
        transform-origin: 50% 1400px;
        opacity: 1;
      }
    }
  }
}
