.modal__buy {
    width: 280px;
    padding: 28px;

    background: $text-light-color;
    border: 2px solid $brand-second-color;
    border-radius: 10px;
    max-height: 100%;
    overflow-y: auto;
   
    @media screen and (min-width:768px) {
        width: 568px;
        padding: 32px 54px;
    }
}

.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal-title__buy {
    display: block;
    text-align: center;
    margin-bottom: 76px;
    font-family: $font-title;
    color: $text-dark-color;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.03em;

    @media screen and (min-width:768px) {
        margin-bottom: 106px;
        font-size: 20px;
        line-height: calc(28 / 20);
    }
}

.modal-list__buy{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (min-width:768px) {
   
        gap: 32px;
        flex-basis: calc((100% - 32px) / 3);
        flex-wrap: nowrap;
    }
}

.label-check__buy {
font-size: 5px;
padding: 0;
margin: 0;
}
.modal-item {
margin-bottom: 72px;

@media screen and (max-width:767px) {
&:last-child {
margin-bottom: 24px;
margin-bottom: 24px;
}   
}

@media screen and (min-width:768px) {
    width: calc((100% - 64px) / 3);
    margin-bottom: 40px;
}
}

.modal-item__buy {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 132px;
    min-height: 130px;
    padding-top: 80px;
    padding-bottom: 16px;
    padding-left: 1px;
    padding-right: 1px;
    border-radius: 15.7808px;
   
&.elipse_green {
border: 2px solid #96AF8C;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));

    &::before {
content: ' ';
display: inline-block;
position: absolute;
width: 132px;
height: 132px;
top: -66px;
border-radius: 50%;
background: linear-gradient(0deg, rgba(156, 190, 143, 0.7),
 rgba(156, 190, 143, 0.7)), $back-round-decoration;
box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
}

    &::after {
content: ' ';
background-image: url("../images/by-now/modal-products01-1x-min.png");
background-size: cover;

@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../images/by-now/modal-products01-2x-min.png");
    background-size: cover;
}
    position: absolute;
display: block;
width: 132px;
height: 132px;
top: -73px;
border-radius: 50px;
}
}

&.elipse_yelow {
border: 2px solid $brand-second-color;
    box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
    &::before {
    content: ' ';
    display: inline-block;
    position: absolute;
    width: 132px;
    height: 132px;
    top: -66px;
    border-radius: 50%;
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7),
    rgba(248, 210, 78, 0.7)), $back-round-decoration;
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);
    }

    &::after {
    content: ' ';
    background-image: url("../images/by-now/modal-products02-1x-min.png");
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("../images/by-now/modal-products02-2x-min.png");
    background-size: cover;
    }

    position: absolute;
    display: block;
    width: 132px;
    height: 132px;
    top: -73px;
    border-radius: 50px;
}
}

&.elipse_mocco {
border: 2px solid $card-third-color;
    filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    &::before {
        content: ' ';
        display: inline-block;
        position: absolute;
        width: 132px;
        height: 132px;
        top: -66px;
        border-radius: 50%;
    background: linear-gradient(0deg, rgba(213, 117, 63, 0.7),
     rgba(213, 117, 63, 0.7)), $back-round-decoration;
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
    }

    &::after {
        content: ' ';
        background-image: url("../images/by-now/modal-products03-1x-min.png");
        background-size: cover;

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url("../images/by-now/modal-products03-2x-min.png");
            background-size: cover;
        }

        position: absolute;
        display: block;
        width: 132px;
        height: 132px;
        top: -73px;
        border-radius: 50px;
    }
}
}

.label-check__buy {
    opacity: 0;
    width: 0;
    height: 0;
    cursor: pointer;
}

input:checked+label.elipse_green {
    background: $card-first-color;
}

input:checked+label.elipse_yelow {
    background: $brand-second-color;
}

input:checked+label.elipse_mocco {
    background: $text-address-color;
}

.modal-name__buy {
    text-align: center;
    color: $text-dark-color;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
.register-form-group__buy {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;

    @media screen and (min-width:768px) {
        margin-bottom: 32px;
    }
}

.register-form-input__buy {
    width: 100%;
    min-height: 32px;
    padding: 7px 12px;
    margin-bottom: 12px;
    background: $bg-text-color;
    border: 1px solid $brand-main-color;
    border-radius: 10px;

    outline: none;
    
    &:hover,
    &:focus {
        border-color: $brand-main-color;
    }

    &::placeholder {
        font-size: 12px;
        color: $text-dark-color;
    }

    @media screen and (min-width:768px) {
        width: 368px;
        margin-bottom: 16px;

        &::placeholder {
            font-size: 14px;
        }
    }
}

.register-form-input__buy:not(:placeholder-shown):invalid {
border-color: red;
}

.register-form-message__buy {
    // resize: none;
    width: 100%;
    min-height: 32px;
    padding: 7px 12px;
    background: $bg-text-color;
    border: 1px solid $brand-main-color;
    border-radius: 10px;
    outline: none;

    &:hover,
    &:focus {
        border-color: $brand-main-color;
    }

    &::placeholder {
        font-size: 12px;
        color: $text-dark-color;
    }

    @media screen and (min-width:768px) {
        width: 368px;

        &::placeholder {
            font-size: 14px;
        }
    }
}
.btn--modal {
    margin-bottom: 0;
}