.header-container {
  background-color: $brand-main-color;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 1200px) {
    justify-content: center;
    align-items: center;
  }
}

.header__nav {
  display: flex;
}

.header__nav {
  &__list {
    display: none;

    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 27px;

      margin-left: 269px;
      margin-right: 247px;
    }
  }

  &__link {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;

    font-family: $font-main;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(20 / 16);
    color: $text-light-color;

    transition: color($transition);

    &--focused:hover,
    &--focused:focus {
      color: $brand-second-color;
    }
  }
}

.button {
  width: 152px;
  height: 42px;
  border-radius: 10px;
  border: none;

  font-family: $font-main;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  text-align: center;

  color: $text-dark-color;

  background-color: $brand-second-color;
}
