@mixin font($fs: 16px, $fw: 400, $lh: 28px) {
  font-size: $fs;
  font-weight: $fw;
  line-height: calc($lh / $fs);
}

@mixin padding-button($pt: 12px, $pb: 12px, $pl: 33px, $pr: 33px) {
  padding-top: $pt;
  padding-bottom: $pb;
  padding-left: $pl;
  padding-right: $pr;
}

@mixin font-line($size, $height) {
  font-size: $size;
  line-height: calc($height/$size);
}

// // * {
// // 	outline: violet solid 1px;
// // }

// // Header

// .hero-header {
//   background-color: var(--main-bcg);
//   color: var(--alt-font-color);
//   .button-header {
//     display: none;
//     min-width: 125px;
//     height: 42px;
//     @extend %animation;
//   }

//   .button-header--in-burger {
//     display: flex;
//     min-width: 125px;
//     height: 42px;

//     margin: 0px auto;
//     @extend %animation;
//   }
// }

// .header {
//   display: flex;
//   justify-content: space-between;
//   padding-top: 12px;
// }

// .nav__list {
//   display: none;
// }

// .nav__link {
//   font-family: inherit;
//   color: var(--alt-font-color);
//   text-decoration: none;
//   font-weight: 700;
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   @include font-line(16px, 20px);

//   position: relative;

//   &::after {
//     content: '';
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     width: 100%;
//     height: 2px;
//     background-color: #fff;
//     transform: scaleX(0);
//     transform-origin: right;
//     transition: transform 0.5s;
//   }

//   &:hover::after {
//     transform: scaleX(1);
//     transform-origin: left;
//   }

//   &:focus,
//   &:hover {
//     color: var(--acc-color);
//   }
// }

// // &:hover,
// // &:focus {
// // 	color: var(--acc-color);
// // }

// // @extend %animation;
// // }

// .header__button-box {
//   display: flex;
//   align-items: center;
//   gap: 30px;
// }
// .burger-button {
//   height: 70%;

//   &:hover,
//   &:focus {
//     .burger-button__svg {
//       stroke: var(--acc-color);
//     }
//   }

//   &:active {
//     .burger-button__svg {
//       stroke: var(--active-button);
//     }
//   }
// }

// .burger-button__svg {
//   stroke: var(--modal-bcg);

//   @extend %animation;
// }

// // header tablet
// @media screen and (min-width: 768px) {
//   .hero-header {
//     background-color: var(--main-bcg);
//     color: var(--alt-font-color);

//     .button-header {
//       display: flex;
//     }
//   }
// }

// // header desktop
// @media screen and (min-width: 1200px) {
//   .header__nav {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//   }
//   .nav__list {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     gap: 27px;

//     margin-left: 268px;
//   }

//   .burger-button {
//     display: none;
//   }
// }

// // Burger menu
// .burger-menu {
//   opacity: 0;
//   visibility: hidden;
//   padding-top: 12px;
//   padding-bottom: 63px;

//   top: 0px;
//   left: 0px;
//   position: fixed;
//   z-index: 1000;
//   pointer-events: none;
//   overflow-y: auto;

//   height: 100vh;
//   width: 100vw;

//   margin-left: auto;
//   margin-top: auto;

//   background-color: var(--main-bcg);
//   box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);

//   transform: translateX(100%);
//   @extend %animation;
// }

// .header-mobil-menu {
//   display: flex;
//   justify-content: space-between;
// }

// .is-open {
//   opacity: 1;
//   visibility: visible;
//   pointer-events: auto;
//   transform: translateX(0%);
// }

// .burger-menu__close-icon {
//   stroke: var(--alt-font-color);
//   fill: var(--alt-font-color);

//   @extend %animation;
// }
// .burger-menu__close-button {
//   &:hover,
//   &:focus {
//     .burger-menu__close-icon {
//       stroke: var(--acc-color);
//       fill: var(--acc-color);
//     }
//   }

//   &:active {
//     .burger-menu__close-icon {
//       stroke: var(--active-button);
//       fill: var(--active-button);
//     }
//   }
// }

// .burger-nav__list {
//   display: flex;
//   flex-direction: column;
//   gap: 32px;
//   align-items: center;

//   text-align: center;

//   margin-top: 76px;
//   margin-bottom: 111px;
// }

// .burger-nav__link {
//   font-family: inherit;
//   font-weight: 700;
//   color: var(--alt-font-color);
//   text-decoration: none;

//   @include font-line(32px, 39px);

//   @extend %animation;

//   &:hover,
//   &:focus {
//     color: var(--acc-color);
//   }
// }

// @media screen and (min-width: 768px) {
//   .burger-nav__link {
//     @include font-line(48px, 58.5px);
//   }

//   .burger-menu {
//     .button-header--in-burger {
//       display: none;
//     }
//   }
// }

// +++    HERO    +++

.hero {
  position: relative;
  padding-top: 60px;

  // === ПЕРЕМЕННАЯ === //
  background-color: #84a178;
  color: #fcfcfc;

  height: 452px;
  overflow-y: hidden;
}

.hero__header {
  margin-bottom: 32px;

  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;

  @include font-line(26px, 33px);

  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.hero__list {
  display: flex;
  gap: 18px;
}
// === СТРАННЫЙ КОД КНОПОК, ЗАМЕНИТЬ В ПРОЕКТЕ === //

.hero__list-item--bordered {
  width: 62px;
  height: 24px;

  font-weight: 600;
  font-size: 8px;
  text-align: center;
}

.hero__link--bordered {
  display: inline-block;
  width: 100%;

  // === ПЕРЕМЕННАЯ === //

  border: 2px solid #f8d24e;
  border-radius: 8px;

  // === ПЕРЕМЕННАЯ === //

  color: #000000;
  text-decoration: none;

  line-height: 20px;
  vertical-align: middle;

  &:focus,
  &:hover {
    // === ПЕРЕМЕННАЯ === //

    border-color: #0a8817;

    // === ПЕРЕМЕННАЯ === //

    color: #fcfcfc;
  }
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));

  //   @extend %animation;
}

.hero__list-item--unbordered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__link--unbordered {
  @include font-line(8px, 10px);

  // === ПЕРЕМЕННАЯ === //

  color: #f8d24e;

  &:focus,
  &:hover {
    // === ПЕРЕМЕННАЯ === //

    color: #fcfcfc;
  }
  //   @extend %animation;
}

// Happy Ice-cream

.hero__major-box {
  //   opacity: 0;
  //   transform: translateY(100%);

  position: absolute;
  bottom: 0px;
  left: 27%;

  //   @extend %animation;

  //   animation: happy-ice-cream 1200ms linear 700ms forwards,
  //     happy-ice-cream-translate 5000ms linear 2200ms infinite alternate;
}
//  === ДОБАВИЛ ВЛОЖЕНОСТЬ, СОБРАЛ В КУЧУ МЕДИАЗАПРОСЫ ДЛЯ ПОЗИЦИОНИРОВАНИЯ СМАЙЛИКОВ === //
//  === В ИДЕАЛЕ СДЛАТЬ ТАК ДЛЯ ВСЕГО ОСТАЛЬНОГО === //
.hero__smile {
  position: absolute;

  &--orange {
    width: 68.95px;
    height: 62.4px;

    top: 47.11px;
    left: 25.29px;

    @media screen and (min-width: 768px) {
      width: 109.95px;
      height: 106px;
      top: 70.11px;
      left: 35px;

      // animation: orange-tablet 5s cubic-bezier(1, -0.01, 0.59, -0.15) 2400ms
      //   alternate;
    }
    @media screen and (min-width: 1200px) {
      width: 175.95px;
      height: 180px;
      top: 127.11px;
      left: 78.29px;
      // animation: orange 2s cubic-bezier(1, -0.01, 0.59, -0.15) 2400ms alternate;
    }
  }

  &--green {
    width: 77.57px;
    height: 76.18px;

    top: 3px;
    right: 6px;

    @media screen and (min-width: 768px) {
      width: 139.57px;
      height: 138.18px;
      top: 1px;
      right: 11px;

      // animation: green-tablet 5s linear 10s alternate;
    }
    @media screen and (min-width: 1200px) {
      width: 219.95px;
      height: 214px;
      top: 15px;
      right: 22px;
      // animation: green 5s linear 10s alternate;
    }
  }

  &--pink {
    width: 77.55px;
    height: 76.22px;

    top: 75px;
    right: -4px;

    @media screen and (min-width: 768px) {
      width: 138.55px;
      height: 141.22px;
      top: 110px;
      right: -2px;
    }
    @media screen and (min-width: 1200px) {
      width: 219.95px;
      height: 214px;
      top: 209px;
      right: -2px;
    }
  }
}
// HERO mobile
@media screen and (max-width: 767px) {
  .hero {
    background-image: url(../images/header-hero/dottes-mobile.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url(../images/header-hero/dottes-mobile2x.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right bottom;
    }
  }

  .hero__store,
  .hero__minor-box {
    display: none;
  }

  .hero__header {
    max-width: 247px;
  }

  //   .hero__smile--orange {
  //     // animation: orange-mobile 1s cubic-bezier(1, -0.01, 0.59, -0.15) 2400ms
  //     //   alternate;
  //   }

  //   .hero__smile--green {
  //     // animation: green-mobile 5s cubic-bezier(1, 0, 0, 0.91) 10s alternate;
  //   }
}

// HERO tablet
@media screen and (min-width: 768px) {
  .hero {
    .container {
      display: flex;
      justify-content: space-between;
    }

    background-image: url(../images/header-hero/dottes-tablet.png);
    height: 350px;
    padding-top: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url(../images/header-hero/dottes-tablet2x.png);
    }
  }

  .hero__header {
    margin-bottom: 20px;

    width: 181px;
    height: 74px;

    @include font-line(18px, 23px);
  }

  .hero__list {
    margin-bottom: 28px;
  }

  .hero__minor-box {
    display: flex;

    font-size: 12px;
    line-height: 1.4;
  }

  .hero__text-box {
    padding-top: 25px;
  }

  .hero__minor-picture {
    margin-right: 33px;
  }

  .hero__arrow-link {
    &:hover {
      .hero__arrow-icon {
        width: 50px;
      }
    }
    &:focus {
      .hero__arrow-icon {
        stroke: 3px;
      }
    }
  }

  .hero__arrow-icon {
    width: 40px;
    height: 15px;

    // === ПЕРЕМЕННАЯ === //

    fill: #fcfcfc;
  }

  .hero__text {
    width: 151px;
    margin-bottom: 20px;

    font-weight: 400;
    font-size: 12px;
    line-height: 140%;

    // === ПЕРЕМЕННАЯ === //

    color: #fcfcfc;
  }

  .hero__store-count {
    border-bottom: 4px;

    font-weight: 900;
    @include font-line(28px, 34px);

    // === ПЕРЕМЕННАЯ === //

    color: #000000;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: right;
  }

  .hero__store-type {
    @include font-line(8px, 10px);
    text-align: right;
  }

  .hero__major-box {
    left: 53%;
  }
}

// HERO desktop
@media screen and (min-width: 1200px) {
  .hero {
    background-image: url(../images/header-hero/dottes-desktop.png);
    height: 591px;

    background-size: 1200px;
    background-position: bottom center;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url(../images/header-hero/dottes-desktop2x.png);
    }
  }

  .hero__header {
    margin-bottom: 28px;

    width: 367px;
    height: 144px;

    @include font-line(38px, 47.76px);
  }

  .hero__list {
    margin-bottom: 42px;
    gap: 34px;
  }

  .hero__list-item--bordered {
    width: 134px;
    height: 42px;
  }

  .hero__link--bordered {
    line-height: 38px;

    font-size: 14px;
  }

  .hero__link--unbordered {
    font-weight: 600;
    @include font-line(14px, 17px);
  }

  .hero__minor-picture {
    margin-right: 14px;
  }

  .hero__text {
    width: 200px;
    margin-bottom: 32px;

    font-size: 14px;
  }

  .hero__text-box {
    padding-top: 70px;
  }

  .hero__store-count {
    @include font-line(46px, 56px);

    // === ПЕРЕМЕННАЯ === //

    color: #131313;
  }

  .hero__store-type {
    @include font-line(14px, 17px);
  }
}
