
.modal__map {
        width: 280px;
        height: 365px;
        padding: 28px;
    
        transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    
        background: $text-light-color;
        border: 2px solid $brand-second-color;
        border-radius: 10px;
        max-height: 100%;
        overflow-y: auto;
            
        @media screen and (min-width:768px) {
            width: 568px;
            height: 458px;
            padding: 32px 54px;
        }
    }

    .modal__title {
    display: block;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;

    font-family: $font-title;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    color: $text-dark-color;

    @media screen and (min-width:768px) {
        font-size: 20px;
        line-height: calc(28 / 20);
        }
    }

    .map__google {
    position: absolute;
    top: 72px;
    left: 28px;
    }
    
    .map__mob {
    width: 224px;
    height: 199px;
    margin-bottom: 20px;

    @media screen and (min-width:768px) {
        display: none;
    }
}

.map__tab {
    width: 448px;
    height: 260px;
    margin-bottom: 32px;

 @media screen and (max-width:768px) {
    display: none;
 }
}

.map__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 134px;
    height: 42px;
    padding: 12px 34px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
   
    color: $text-dark-color;
    background: $brand-second-color;
    border-radius: 10px;

    @media screen and (min-width:768px) {
    width: 145px; 
    font-size: 14px;   
    }
}
        
