.products-modal {
  width: 280px;

  padding-top: 28px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 32px;

  max-height: 100%;
  overflow-y: auto;

  @media screen and (min-width: $tablet) {
    width: 568px;
    padding-top: 32px;
    padding-right: 40px;
    padding-left: 40px;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: $brand-main-color;
}

.products-modal__title {
  margin-bottom: 22px;

  font-family: $font-title;
  font-size: 20px;
  line-height: calc(28 / 20);

  text-align: center;

  color: $text-dark-color;
}

.modal-elipse {
  position: relative;
  bottom: -8px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 24px;
  width: 132px;
  height: 131px;

  border-radius: 50%;

  box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    $back-round-decoration;

  &::before {
    content: url(/src/images/by-now/modal-ingridients-1x-min.png);
    position: absolute;
    left: 1px;
    bottom: 7px;
    display: block;
  }
}

.nutrients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  margin-bottom: 39px;

  @media screen and (min-width: $tablet) {
    gap: 20px;
  }

  &__item {
    height: 72px;
    border: 2px solid #9cbe8f;
    border-radius: 40px;

    @media screen and (min-width: $tablet) {
      height: 90px;
    }
  }
}

.nutrients-list-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-right: 4px;
  padding-left: 4px;

  @media screen and (min-width: $tablet) {
    padding-right: 6px;
    padding-left: 6px;
  }
}

.nutrients-list__number {
  display: block;
  padding-top: 8px;
  padding-right: 12px;
  padding-left: 12px;
  padding-bottom: 8px;

  border-radius: 50%;

  font-weight: 500;
  font-size: 10px;
  line-height: calc(28 / 12);
  text-align: center;

  background-color: #9cbe8f;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);

  @media screen and (min-width: $tablet) {
    font-size: 12px;
    padding-top: 11px;
    padding-right: 14px;
    padding-left: 14px;
    padding-bottom: 12px;
  }

  &--l {
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: $tablet) {
      padding-top: 11px;
      padding-right: 12px;
      padding-left: 12px;
      padding-bottom: 12px;
    }
  }

  &--m {
    padding-left: 11px;
    padding-right: 10px;

    @media screen and (min-width: $tablet) {
      padding-top: 12px;
      padding-right: 14px;
      padding-left: 13px;
      padding-bottom: 13px;
    }
  }

  &--s {
    padding-left: 6px;
    padding-right: 6px;

    @media screen and (min-width: $tablet) {
      padding-top: 12px;
      padding-right: 9px;
      padding-left: 9px;
      padding-bottom: 13px;
    }
  }
}

.nutrients-list__span {
  display: block;
  text-align: center;
  font-size: 10px;
  line-height: calc(12 / 10);

  @media screen and (min-width: $tablet) {
    font-size: 12px;
  }
}

.span--second {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.span--first {
  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.ingridients-title {
  margin-bottom: 24px;

  font-weight: 500;
  font-size: 20px;
  line-height: calc(28 / 20);

  text-align: center;

  @media screen and (min-width: $tablet) {
    border-bottom: none;
  }
}

.ingridients-list {
  margin-bottom: 48px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 11px;
    }

    font-size: 14px;
    line-height: calc(25 / 14);
    letter-spacing: 0.04em;
  }
}

// form styles
.modal-form {
  margin-bottom: 11px;
}

.modal-form-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;

  @media screen and (min-width: $tablet) {
    align-items: center;
  }
}

.modal-form__input {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  padding-right: 11px;

  width: 100%;
  height: 42px;

  outline: transparent;

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid $brand-main-color;
  border-radius: 10px;

  @media screen and (min-width: $tablet) {
    width: 368px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.modal-form__input::placeholder {
  font-size: 14px;
  line-height: calc(20 / 14);
  color: $text-dark-color;
}

.modal-form__input:not(:placeholder-shown):invalid {
  border-color: red;
}

.modal-form__comment {
  resize: none;

  padding-left: 11px;
  padding-right: 11px;
  padding-top: 11px;
  padding-bottom: 11px;

  width: 100%;

  font-size: 14px;
  line-height: calc(20 / 14);
  color: $text-dark-color;

  outline: transparent;
  background: rgba(248, 210, 78, 0.1);
  border: 1px solid $brand-main-color;
  border-radius: 10px;

  @media screen and (min-width: $tablet) {
    width: 368px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.modal-form__comment::placeholder {
  font-size: 14px;
  line-height: calc(20 / 14);
  color: $text-dark-color;
}
